drafts/
/.idea/
/.pytest_cache/
/log/
/screenshots/
/geckodriver.log
/reports/
/venv/
/results/
pytest.ini
**/__pycache__/
__pycache__/
*/__pycache__/*
/results_mobile/
/apk/
/results_api/
*.log
*.pyc
/logsroot/
/files/zephyr_docs/
auth_token.txt
customer_1_token.txt
customer_2_token.txt
.DS_Store
.AppleDouble
.LSOverride
/data_generator/
endpoints_usages.json
/endpoint_usages
**/recommendations.csv
